x-app: &app
  ports:
    - "8000:8000"
  volumes:
    - .:/app
  environment: &base-app-env
    SECRET_KEY: "insecure"
    DEBUG: "true"
    LOG_LEVEL: "DEBUG"
    DJANGO_LOG_LEVEL: "DEBUG"
    OIDC_BASE_URL: "https://login.microsoftonline.com/72fca1b1-2c2e-4376-a445-294d80196804"
    OIDC_RP_CLIENT_ID: null
    OIDC_RP_CLIENT_SECRET: null
    OIDC_RP_SCOPES:
    OIDC_OP_USER_ENDPOINT:
    OIDC_OP_ISSUER:
    OIDC_VERIFY_AUDIENCE: true
    OIDC_TRUSTED_AUDIENCES:
    APPLICATIONINSIGHTS_CONNECTION_STRING: null
    ADMIN_ENABLED: true
    ADMIN_PATH: /admin
    API_PATH: /api
  depends_on: &base-app-depends-on
    database:
      condition: service_healthy

services:
  database:
    ports:
      - "5432"
    environment:
      POSTGRES_DB: bereikbaarheid
      POSTGRES_USER: bereikbaarheid
      POSTGRES_PASSWORD: insecure
    image: kartoza/postgis:15-3.4
    healthcheck:
      test: pg_isready -U bereikbaarheid -d bereikbaarheid
      interval: 10s
      timeout: 1s
      retries: 5

  otel-collector:
    build:
      context: otel-collector
    image: ${REGISTRY:-localhost:5000}/${REPOSITORY:-opdrachten/statistiekhub-otel-collector}:${VERSION:-latest}
    volumes:
      - ./otel-collector/config.local.yaml:/etc/otelcol-contrib/config.yaml
    depends_on:
      - jaeger
    ports:
      - "4317:4317"
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 256M
        reservations:
          cpus: "0.05"
          memory: 128M

  jaeger:
    image: jaegertracing/jaeger:2.8.0
    ports:
      # ui
      - "16686:16686"
      # grpc
      - "14317:4317"
    environment:
      LOG_LEVEL: debug

  app:
    <<: *app
    build:
      context: .
      target: app
    image: ${REGISTRY:-127.0.0.1:5001}/${REPOSITORY:-opdrachten/bereikbaarheid-backend-django}:${VERSION:-latest}
    depends_on:
      <<: *base-app-depends-on
      otel-collector:
        condition: service_started
    user: 1000:1000

  dev:
    <<: *app
    build:
      context: .
      target: dev
    environment:
      <<: *base-app-env
    depends_on:
      <<: *base-app-depends-on
      otel-collector:
        condition: service_started
    command: python manage.py runserver 0.0.0.0:8000
    user: 1000:1000

  test:
    <<: *app
    build:
      context: .
      target: tests
    environment:
      <<: *base-app-env
      DJANGO_SETTINGS_MODULE: "main.settings"
      OIDC_RP_CLIENT_ID: tests
      OIDC_RP_CLIENT_SECRET: tests
      OTEL_EXPORTER: "none"
      OTEL_SDK_DISABLED: true
    command: pytest
    user: 1000:1000

  linting:
    build:
      context: .
      target: linting
    volumes:
      - .:/app/
    user: 1000:1000
