# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

psycopg2-binary
marshmallow
pytz
pandas
Pillow
requests
pyproj

# Django
Django
django-cors-headers
django-import-export[xlsx]
django-leaflet
mozilla-django-oidc
django-storages[azure]
django-rest-framework
djangorestframework-gis

# Azure
azure-cli
azure-core
azure-identity
azure-keyvault
azure-keyvault-secrets
opencensus-ext-django
opencensus-ext-azure
opencensus-ext-postgresql
opencensus-ext-logging
opencensus-ext-requests
