# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

psycopg2-binary
marshmallow
pytz
pandas
Pillow
requests
pyproj
uwsgi

# Django
Django<6  # Do not upgrade to Django 6 yet!
django-cors-headers
django-import-export[xlsx]
django-leaflet
django-storages[azure]
djangorestframework
djangorestframework-gis
django-csp

# Amsterdam packages
amsterdam-django-oidc

# Azure
azure-core
azure-identity
azure-keyvault
azure-keyvault-secrets
opencensus-ext-django
opencensus-ext-azure
opencensus-ext-postgresql
opencensus-ext-logging
opencensus-ext-requests